
<div class="container">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <h2>+ ADD REMINDER</h2>
      <div class="form-group">
        <label for="reminderName">Reminder Name*</label>
        <input matInput type="text" id="reminderName" placeholder="eg: Reminder1" name="reminderName" [(ngModel)]="reminderData.name" required>
        <mat-error *ngIf="f.submitted && f.controls['reminderName'].errors?.['required']">*required</mat-error>
      </div>
      <div class="form-group">
        <label for="beforeDate">Before Date</label>
        <input matInput type="date" id="beforeDate" name="beforeDate" [(ngModel)]="reminderData.beforeDate">
      </div>
      <div class="form-group">
        <label for="afterDate">After Date</label>
        <input matInput type="date" id="afterDate" name="afterDate" [(ngModel)]="reminderData.afterDate">
      </div>
      <div class="form-group">
        <label for="reminderDate">Reminder Date*</label>
        <input matInput type="date" id="reminderDate" name="reminderDate" [(ngModel)]="reminderData.date" required>
        <mat-error *ngIf="f.submitted && f.controls['reminderDate'].errors?.['required']">*required</mat-error>
      </div>
      <div class="form-group">
        <label for="remarks">Remarks</label>
        <input matInput type="text" id="remarks" placeholder="Remarks" name="remarks" [(ngModel)]="reminderData.remarks">
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
  