<div class="response-section" *ngIf="responseData">
    <h2>Flock Data</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- <th>ID</th>
          <th>FlockName</th>
          <th>BreedName</th>
          <th>StartDate</th>
          <th>Age</th>
          <th>NoBirds</th>
          <th>ShedNumber</th>
          <th>Active</th> -->
          <!-- <th>Update</th> -->
          <th>listentry Date</th>
          <th>Age</th>
          <th>Opening Birds</th>
          <th>Mortality</th>
          <th>Birds Sold</th>
          <th>Closing Birds</th>
          <th>Cum Mortality</th>
          <th>Mortality %</th>
          <th>Eggs/Day</th>
          <th>Egg Production</th>
          <th>Production %</th>
          <th>Feed</th>
          <th>Feed/Bird</th>
          <th>Feed/Egg</th>
          <th>Cum FPE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of responseData" class="item">
          <!-- <td>{{ item.id }}</td>
          <td>{{ item.flockName }}</td>
          <td>{{ item.breedName }}</td>
          <td>{{ item.startDate }}</td>
          <td>{{ item.age }}</td>
          <td>{{ item.openingBirds }}</td>
          <td>{{ item.shedNumber }}</td>
          <td>{{ item.active }}</td> -->
        
          <td>{{ item.entrydate }}</td>
          <td>{{ item.age }}</td>
          <td>{{ item.openingbirds }}</td>
          <td>{{ item.mortality }}</td>
          <td>{{ item.birdssold }}</td>
          <td>{{ item.closingbirds }}</td>
          <td>{{ item.cummortality }}</td>
          <td>{{ item.mortalityPercent }}</td>
          <td>{{ item.eggsperDay }}</td>
          <td>{{ item.eggproducion }}</td>
          <td>{{ item.productionPercent }}</td>
          <td>{{ item.feed }}</td>
          <td>{{ item.feedperBird }}</td>
          <td>{{ item.feedperEgg }}</td>
          <td>{{ item.cumFPE }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  