


<div class="response-section" *ngIf="responseData">
    <h2>Reminder Data</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Reminder ID</th>
          <th>Reminder Name</th>
          <th>Before Date</th>
          <th>After Date</th>
          <th>Reminder Date</th>
          <th>Remarks</th>
          <th>Status</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of responseData" class="item">
          <td>{{ item.reminderId }}</td>
          <td>{{ item.remindername }}</td>
          <td>{{ item.beforedate }}</td>
          <td>{{ item.afterdate }}</td>
          <td>{{ item.reminderdate }}</td>
          <td>{{ item.remarks }}</td>
          <td>{{ item.status }}</td>
          <td><button class="btn btn-secondary" (click)="id(item.reminderId)">Update</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  