

  
   
        <header>
           <img src="https://codetheweb.blog/assets/img/icon2.png">
            <nav>
                <ul>
                    <ng-container *ngIf="this.auth.isAuth();then auth;else notauth">


                    </ng-container>
                    <ng-template #notauth>
                        <li><a routerLink="/login">Login</a></li>
                        <li><a routerLink="/login">Register</a></li>

                    </ng-template>

                    <ng-template #auth>
                        <li><a routerLink="/addflock">Add Flock</a></li>
                        <li><a routerLink="/listflock">List Flock</a></li>
                        <li><a routerLink="/dailyentry">Daily Entry</a></li>
                        <li><a routerLink="/listflockentry">List</a></li>
                        <li><a routerLink="/addremainder">Remainder</a></li>
                        <li><a routerLink="/listremainder">Remainder</a></li>
                    </ng-template>
                    
                    
                </ul>
            </nav>
        </header>